<header>
    <div class="navbar navbar-expand-sm bg-primary navbar-dark">
        <div class="container">
            <a href="{% url 'index' %}" class="navbar-brand">Movie App</a>
            <ul class="navbar-nav mr-auto">
                <li 
                    {% if request.path == '/' %}
                        class="nav-item active"
                    {% else %}
                        class="nav-item"
                    {% endif %}
                >
                    <a  href="{% url 'index' %}" class="nav-link">Home</a>
                </li>
                <li
                    {% if 'blog' in request.path %}
                        class="nav-item active"
                    {% else %}
                         class="nav-item"
                    {% endif %}                    
                >
                    <a  href="{% url 'blog' %}" class="nav-link">Blog</a>
                </li>
                <li  {% if 'movies' in request.path %}
                        class="nav-item active"
                    {% else %}
                         class="nav-item"
                    {% endif %} >
                    <a  href="{% url 'movies' %}" class="nav-link">Movies</a>
                </li>
            <li  {% if 'search' in request.path %}
                        class="nav-item active"
                    {% else %}
                         class="nav-item"
                    {% endif %} >
                    <a  href="{% url 'search' %}" class="nav-link">Search</a>
                </li>
            </ul>
        </div>
    </div>
</header>