<!DOCTYPE html>
<html>
<head>
  <title> Travel to Istanbul </title>
  <style>
    body{    background-image: url('https://www.slaytyerim.com/upload/ecf526671a.jpg'); }
    </style> </head>  
<body background="https://www.slaytyerim.com/upload/ecf526671a.jpg">
<div>
<img src="https://cdn2.vectorstock.com/i/1000x1000/67/86/logo-for-istanbul-vector-28836786.jpg" width="50" height="50"> </div> <div>
<h> <i>Travel To Istanbul </h> </i></div>
  <div style="display:flex; justify-content:center; align-items:center; height:1vh;">
  <div style="display:flex; flex:0.2;">
    <div style="flex:1;"><a href="home">Home</a></div>
    <div style="flex:1;"><a href="blog">Blog</a></div>
    <div style="flex:1;"><a href="resume">Resume</a></div>
    <div style="flex:1;"><a href="contact">Contact</a></div>
  </div>
</div>
<br>
<div>
  <img src="https://cdn.wallpapersafari.com/19/90/53rMId.jpg" width="1500" height="200">
  <br></div>
   <tbody> My holiday in Istanbul... <a href=“Hedef URL adresi”>See article</a></tbody> <hr style="height:4px; border:none; color:#333; background-color:#333;"></body>
  <div style="display:flex;">
  <div style=" width:50%; padding:10px;">
  <img src="https://img1.pngindir.com/20180331/sre/kisspng-airplane-grumman-f-14-tomcat-fighter-aircraft-jet-jet-5abf5a352c7789.2178745415224899091821.jpg",width="30" height="30">  <h><b> I'am great traveller</b></h>
  <p>The historic peninsula and modern cityscape of Istanbul attract millions of tourists every year. A random Istanbul tour could start by watching the stunning panoramic view from the historic Galata Tower. Then, you can visit the unique Ottoman architecture and world-famous structures in Sultanahmet Square. Places such as the Blue Mosque, Hagia Sophia, and Topkapi Palace reflect Istanbul's rich history. Other options for an unforgettable Istanbul tour include taking a boat tour on the Bosphorus or shopping at the Grand Bazaar..</p></div>
  <div style="background-color:grey; width:50%; padding:10px;"><h> About the author </h>
  <p>lHi there! My name is [Your Name], and I'm a [Your Profession or Student Major]. I'm passionate about [Your Interests or Hobbies], and I love to [Your Favorite Activities or Pastimes]. In my free time, you can find me [What You Like to Do in Your Free Time]. I'm excited to meet new people and make meaningful connections in both my personal and professional life.</p>
  <p> you can find  my social media links via from there.</p>
<img src="https://1.bp.blogspot.com/-S8HTBQqmfcs/XN0ACIRD9PI/AAAAAAAAAlo/FLhccuLdMfIFLhocRjWqsr9cVGdTN_8sgCPcBGAYYCw/s1600/f_logo_RGB-Blue_1024.png" width="20" height="20">
<img src="https://img1.pngindir.com/20171220/gze/twitter-logo-png-5a3a1851372e76.0876249315137567532269680.jpg" width="20" height="20">
<img src="https://e7.pngegg.com/pngimages/5/164/png-clipart-instagram-icon-thepix-digital-marketing-logo-shiftdelete-instagram-logo-miscellaneous-rectangle.png" width="20" height="20"></div>
</div>  <br></body>
  <div style="display:flex;">
  <div style="width:33%; padding:12px;">
    <h2>Last Tweets</h2>
    <pre>
My-birthdate!
19/01 20.03</pre>
  </div>
  <div style="width:33%; padding:12px;">
    <h2>My Pictures</h2>
    <img src="http://storage.kucukoteller.com.tr/images/ce2643a90a3b222022ce1631b907d63ef969eb27.jpg" width="75" height="75">
<img src="https://cdn1.ntv.com.tr/gorsel/TtXkS0rtxEOpS5ybF2Dc2A.jpg?width=1000&mode=both&scale=both&v=1562936499576" width="75" height="75">
<img src="https://cdn1.ntv.com.tr/gorsel/LGTfMXlnzk6CKTVvE3gttg.jpg?width=1000&mode=both&scale=both&v=1562936499576" width="75" height="75">
  </div>
  <div style="width:33%; padding:12px;">
    <h2>Contact</h2>
    <ul>
  <li><a href="#tel">Tel: 444 97 98 </a></li>
  <li><a href="#faks">Faks: 0(212) 693 8229</a></li>
  <li><a href="#wp">Whatsapp: 0(552) 918 9798</a></li>
  <li><a href="#email">E-email: bilgi@cbu.edu.tr</a></li>
</ul>
  </div>
</div>
 </body></html>
